<div class="col-md-6">

  <h1>All Events</h1>
  <% @events.each do |event| %>
    <img class="css-eventimg" src="<%= event.image_url%>">
    <ul>
      <li>Name: <a href="/event/<%=event.id%>"><%= event.name %></a></li>
      <li>Location: <%= event.location %></li>
      <li>Description: <%= event.description %></li>
    </ul>
  <% end %>

</div>


<div class="col-md-6">
  <h1> Pending Invitations</h1>
    <% if @invitations.any?() %>
      <%@invitations.each do |invitation|%>
        <a href ="/event/<%=invitation.event.id%>"><%=invitation.event.name%></a> - Invited by: <a href ="/user/<%=invitation.sender.id%>"><%=invitation.sender.name%></a>
        <form action='/accept/<%=invitation.id%>' method='post'>
          <input type="hidden" name="_method" value="patch">
          <button class='btn btn-success'>Accept</button>
        </form>
        <form action='/reject/<%=invitation.id%>' method='post'>
          <input type="hidden" name="_method" value="patch">
          <button class='btn btn-danger'>Reject</button>
        </form>
      <%end%>
    <%else%>
      None
    <%end%>

    <h1> Events You Are Attending:</h1>
    <% @user.attendee.each() do |attendee|%>
    <a href="/event/<%=attendee.event_id%>"><li><%=attendee.event.name%></li></a>
    <%end%>

    <h1>Events You Are Hosting</h1>
    <ul>
      <% @events.each do |event| %>
        <% if event.user_id == @user.id %>
          <a href="/event/<%=event.id%>"><li><%= event.name%></li></a>
        <% end %>
      <% end %>
    </ul>


    <h1>Create Event:</h1>

    <form class="form-horizontal" action="/event" method="post">
      <input type="hidden" name="user_id" value="<%= @user.id%>">
      <div class="form-group">
        <label class="col-sm-2" for="name">Name:</label>
        <input class="col-sm-4" type="text" name="name" id="name" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="date">Date:</label>
        <input class="col-sm-4" type="datetime-local" name="date" id="date" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="location">Location:</label>
        <input class="col-sm-4" type="text" name="location" id="location" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="capacity">Capacity:</label>
        <input class="col-sm-4" type="number" name="capacity" min="1" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="description">Description:</label>
        <input class="col-sm-4" type="text" name="description" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="image_url">Image URL:</label>
        <input class="col-sm-4" type="text" name="image_url" value="">
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="video_url">Video URL:</label>
        <input class="col-sm-4" type="text" name="video_url" value="">
      </div>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
</div>
