<h1> All invitations</h1>
  <% if @invitations.any?() %>
    <%@invitations.each do |invitation|%>
      <a href ="/event/<%=invitation.event.id%>"><%=invitation.event.name%></a> - Invited by: <a href ="/user/<%=invitation.sender.id%>"><%=invitation.sender.name%></a>
      <form action='/accept/<%=invitation.id%>' method='post'>
        <input type="hidden" name="_method" value="patch">
        <button class='btn btn-success'>Accept</button>
      </form>
      <form action='/reject/<%=invitation.id%>' method='post'>
        <input type="hidden" name="_method" value="patch">
        <button class='btn btn-danger'>Reject</button>
      </form>
    <%end%>
  <%else%>
    None
  <%end%>

  <h1> All your accepted events below:</h1>
  <% @user.attendee.each() do |attendee|%>
  <a href="/event/<%=attendee.event_id%>"><li><%=attendee.event.name%></li></a>
  <%end%>



<hr>
