<div class="col-md-6">
  <div class="event-box">
  <h1>All Events</h1>
  </div>
  <% @events.each do |event| %>
  <div class="event-box">
    <h1><a href="/event/<%=event.id%>"><%=event.name %></a></h1>
    <img class="css-eventimg" src="<%= event.image_url%>">
      <ul><p>Location: <%= event.location %></p></ul>
      <ul><p>Time: <%= event.date %></p></ul>
      <ul><p>Description: <%= event.description %></p></ul>
  </div>
  <% end %>
</div>


<div class="col-md-6">
  <div class="event-box">
  <h1> Pending Invitations</h1>
  </div>
    <% if @invitations.any?() %>
      <%@invitations.each do |invitation|%>
       <div class="event-box">
        <a href ="/event/<%=invitation.event.id%>"><%=invitation.event.name%></a> - Invited by: <a href ="/user/<%=invitation.sender.id%>"><%=invitation.sender.name%></a>
        <form action='/accept/<%=invitation.id%>' method='post'>
          <input type="hidden" name="_method" value="patch">
          <button class='btn btn-success'><p>Accept</p></button>
        </form>
        <form action='/reject/<%=invitation.id%>' method='post'>
          <input type="hidden" name="_method" value="patch">
          <button class='btn btn-danger'><p>Reject</p></button>
        </form>
      </div>
      <%end%>
    <%else%>
    <div class="event-box">
    <p>None</p>
    </div>
    <%end%>
    <div class="event-box">
    <h1> Events You Are Attending:</h1>
    </div>
    <% if @user.attendee.any?() %>
    <div class="event-box">
      <% @user.attendee.each() do |attendee|%>
    <a href="/event/<%=attendee.event_id%>"><ul><p><%=attendee.event.name%></p></ul></a>
      <%end%>
    </div>

    <%else%>
    <div class="event-box">
    <p> None </p>
    </div>
    <%end%>


    <div class="event-box">
      <h1>Events You Are Hosting</h1>
      <ul>
        <% @events.each do |event| %>
          <% if event.user_id == @user.id %>
            <a href="/event/<%=event.id%>"><li><p><%= event.name%></p></li></a>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="event-box">
    <h1>Create Event:</h1>

    <form class="form-horizontal" action="/event" method="post">
      <input type="hidden" name="user_id" value="<%= @user.id%>">
      <div class="form-group">
        <label class="col-sm-3" for="name"><p>Name:</p></label>
        <input class="col-sm-6" type="text" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="date"><p>Date:</p></label>
        <input class="col-sm-6" type="datetime-local" name="date" id="date" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="location"><p>Location:</p></label>
        <input class="col-sm-6" type="text" name="location" id="location" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="capacity"><p>Capacity:</p></label>
        <input class="col-sm-6" type="number" name="capacity" min="1" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="description"><p>Description:</p></label>
        <input class="col-sm-6" type="text" name="description" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="image_url"><p>Image URL:</p></label>
        <input class="col-sm-6" type="text" name="image_url" required>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="video_url"><p>Video URL:</p></label>
        <input class="col-sm-6" type="text" name="video_url" required>
      </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
