<% if !@profile_edit %>
  <div class="container">
    <h1><%= @user.name %> <a href="/profile/edit"><span class="glyphicon glyphicon-pencil"></span></a>  </h1>
    <img class="css-profile" src="<%= @user.image_url %>">
    <h3>username: <%= @user.username %></h3>
    <h3>Gender: <%= @user.gender %></h3>
    <h3>DOB: <%= @user.dob %></h3>
    <h3>Member Since: <%= @user.created_at %></h3>
    <h3>Last Update of Profile: <%= @user.updated_at %></h3>
  </div>
<% end %>


<% if @profile_edit %>
  <div class="container">
    <form action="/profile" method="post">
      <input type="hidden" name="_method" value="patch" class="form-control">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="<%= @user.name %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Image URL</label>
        <input type="text" name="image_url" placeholder="<%= @user.image_url %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Username <span class="glyphicon glyphicon-warning-sign"></span> change this field with care, you'll need to use this new username to log in in future</label>
        <input type="<%= @user.username %>" name="username" placeholder="<%= @user.username %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Gender</label>
        <select id='gender' name='gender' type='text' class="form-control">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">DOB</label>
        <input type="date" name="dob" placeholder="<%= @user.dob %>" class="form-control">
      </div>
      <button type="submit" class="btn btn-warning">Save Changes</button>
    </form>
  </div>
<% end %>
