<div class="event-box">
  <h1>You Are Searching For "<%=@keyword%>"</h1>
</div>
<div class="col-md-6">
  <div class="event-box">
    <h1>User Results </h1>
  </div>
<% if @possible_users.any?()%>
  <%@possible_users.each do|user|%>
  <div class="event-box">
      <ul>
        <img class="css-profile" src="<%= user.image_url%>">
        <a href='/user/<%=user.id%>'><%=user.name%></a>
      </ul>
  </div>
  <%end%>
<%else%>
<div class="event-box">
<p>  None</p>
</div>
<%end%>
</div>

<div class="col-md-6">
<div class="event-box">
<h1>Event Results </h1>
</div>
<% if @event_results.any?%>
  <%@event_results.each do|event|%>
  <div class="event-box">
    <li>
      <a href='/event/<%=event.first.id%>'><%=event.first.name%></a>
    </li>
  </div>
  <%end%>
<%else%>
<div class="event-box">
  <p>None</p>
</div>
<%end%>

</div>
